<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="js/jquery/jquery.min.js"> </script>
    <script src="js/detail.js"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css" />

</head>
<body>
    <div id="container-detail" class="container"></div>
    <div class="model">
        <h5>Title</h5>
        <h4 class="titlefoodModel"></h4>
        <img src="" alt="" id="imgfoodModel">
        <p id = "descfoodModel"></p>
        <button id="pricefoodModel"></button>

    </div>
    
</body>
</html>